#main_container {
    margin-left: auto;
    margin-right: auto;
    background-color: #ecedf2;
    width: 80%;
    padding: 20px;
}

#middle_container{
    background-color: #a9abb3;
    padding: 20px;
}

#top_container {
    background-color: #d0ccca;
    padding: 10px;
}

#main_section{
    background-color: #5e94ea;
    padding: 10px;
}

#table_render_space{
    background-color: #ffe0c5;
    padding: 10px;
}

#table_html_space{
    background-color: #ff4500;
    padding: 10px;
}

form {
    display: flex;
    justify-content: space-evenly;
}


section input {
    margin: auto;
    width: 80%;
}

table {
    margin:auto;
}

textarea{
    width: 99%;
    resize: none;
}

legend {
    margin:auto;
}

header, footer {
    background-color: #364982;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

#date{
    font-weight: bold;
}